{% extends '_base.html' %}

{% block content %}


        {% if docs %}
        <h2 class="h2">Documents <a href="" class="button">+New</a></h2>
            {% for doc in docs %}
                <a href="{{ url_for('edit', doc_id=doc.id) }}">{{doc.title}}</a>
                <hr>

            {% endfor %}
        {% endif %}
        {% if cats %}
            <h2>Categories are:</h2>
            <ol>
                {% for cat in cats %}
                    <li>{{ cat.name }}</li>
                {% endfor %}
            </ol>
        {% endif %}

{% endblock content %}
