
<!DOCTYPE html>
<html lang="fr">


	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <!-- vue js 3 (cdn) -->
        <script src="https://unpkg.com/vue@3"></script>
        <!-- bulma -->
        <!-- <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bulma.css') }}"/> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
        <!-- markdown converter to html (cdn) -->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <!-- custom css & js -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/md.css') }}"/>
        {% block head %}
        {% endblock head %}

        <title> MD Imperator </title>
	</head>
    <style>
        body {
            padding-top: 40px;
        }
    </style>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{url_for('index')}}">
                My documents
                </a>
                <a class="navbar-item" href="{{ url_for('categories') }}">
                Categories
                </a>
                <a class="navbar-item" href="{{ url_for('databases') }}">
                Databases
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ url_for('about') }}">
                    About
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" target="blank" href="https://github.com/byoso/Markdown_imperator/issues">
                    Report an issue
                    </a>
                </div>
                </div>
          </div>

        </div>
      </nav>
	<body class="m-4 content">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="message is-info message-body">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% block content %}

    {% endblock content %}

	</body>
    {% block script %}
    {% endblock script %}

    </html>
