{% extends '_base.html' %}


{% block content %}

<div class="container">
    <h2>About</h2>

    <p>This application has been made as a demo for the use of a few python libraries:</p>
    <ul>
        <li><a href="https://github.com/byoso/silly_db" target="blank">silly_db</a></li>
        <li><a href="https://github.com/byoso/flask_for_desktop" target="blank">flask_fd</a></li>
        <li><a href="https://github.com/byoso/geninstaller" target="blank">geninstaller</a></li>
    </ul>
    <p>But it still remains a usefull application, enjoy it !</p>


</div>
{% endblock content %}