{% extends '_base.html' %}


{% block content %}

<div class="container">
    <img src="https://i.goopics.net/lhw9s2.png" alt="MD logo">
    <h2>About</h2>

    <h4>Markdown Imperator</h4>
    <div class="mb-2">
        <i><strong>The best markdown editor of the empire</strong></i><br>
        <i>Markdown Imperator is an application for linux</i><br>

    </div>

    <p>The markdown language is well known for it's use in the 'readme.md' files, but it is also a great
         language to quickly write clear reminders, cheatsheets or snippets.
    </p>
    <p>Markdown Imperator
        focuses on this purpose, by granting the ability to create custom categories of documents,
         and then organize and filter them as you wish.
    </p>
    <p>Markdown Imperator is an open source project, it has been first made as a demo
     for the use of a few python libraries:
    </p>
    <ul>
        <li><a href="https://github.com/byoso/silly_db" target="blank">silly_db</a></li>
        <li><a href="https://github.com/byoso/flask_for_desktop" target="blank">flask_fd</a></li>
        <li><a href="https://github.com/byoso/geninstaller" target="blank">geninstaller</a></li>
    </ul>
    <p>But it still remains a usefull application, enjoy it !</p>

    You can find the source code of the project here:
    <a href="https://github.com/byoso/Markdown_imperator" target="blank">Markdown Imperator</a>


</div>
{% endblock content %}