{% extends '_base.html' %}

{% block content %}
<style>
    .table_row {
        cursor: pointer;
    }
    .table_row:hover {
        background-color: rgb(193, 193, 255);
    }

</style>


<div id="app">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ url_for('new_file') }}"
            class="button is-primary is-small is-light is-outlined m-2">+New document</a>


            <div class="card">
                <header class="card-header" @click="show_hide('filters')">
                    <button class="card-header-title ">
                        Options...
                    </button>
                </header>
                <div id="filters" style="display:none;">
                    <div>
                        <p><strong>Copy to another database</strong></p>
                        Copy checked documents to
                        <select name="selected_database" id="database_selection">
                            <option v-for="database in databases" :value="[[database]]" :id="[[database]]">[[database]]</option>
                        </select>
                        <button class="button is-small ml-1" @click="copy_to_database()" >Copy</button>
                    </div>
                    <div>
                        <p><strong>Filters</strong></p>
                        <input type="checkbox" id="check_all" @click="check_all()">
                        <label for="check_all" class="ml-1" @click="check_all()"><strong> check / uncheck all filters</strong></label>

                        <form action="{{ url_for('index') }}" method="post">
                            <div v-for="category in categories">
                                <input type="checkbox" :id="'cat'+[[category.id]]" name="filters" :value="[[category.id]]" class="filter">
                                <label for="'cat'+[[category.id]]" class="ml-1" @click="check_the_box('cat'+[[category.id]], [[category.id]])">[[category.name]]</label>
                            </div>
                            <button class="button is-fullwidth" >apply filters</button>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
            <hr>



            <div  style="overflow-y:scroll; word-wrap:break-word; height:700px;">
                <table class="table is-narrow">
                    <tr @mouseover="preview(doc.id);" class="table_row"
                    v-for="doc in docs">
                        <td><input type="checkbox" :id="'check_doc_'+[[doc.id]]"></td>
                        <td @click="check_document(doc.id)">[[ doc.title ]]</td>
                        <td><label class="button is-small is-warning"
                            @click="delete_button(doc.id)">Delete</label>
                        <a :href="'delete/' + [[ doc.id ]]" class="button is-danger is-small ml-1"
                         :id="'confirm_'+doc.id" style="visibility: hidden;">confirm</a></td>
                        <td><a :href="'print_content/'+ [[doc.id]]" target="_blank" class="button is-small">Print</a></td>
                        <td><a :href="'edit/'+[[ doc.id ]]"
                            class="button is-primary is-small is-light is-outlined">Edit</a></td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="column is-7">
            <div id="render" onscroll="syncScroll(this)" class="ml-2 mt-3 pb-4 column"
                style="overflow-y:scroll; word-wrap:break-word; height:700px;">
            </div>
        </div>
    </div>


{% endblock content %}

{% block script %}
<script>

    const docs = {{ docs | safe }}
    let categories = {{ categories | safe }}
    const { createApp } = Vue
    let databases = {{ databases | safe}}

    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                docs: docs,
                categories: categories,
                preview_html: "",
                databases: databases,
            }
        },
        methods:{
            show_hide(id){
                var content = document.getElementById(id);
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            },
            check_the_box(elem_id, id){
                // for filters
                var box = document.getElementById(elem_id);
                if (box.checked === true) {
                    console.log("id unchecked: " + id)
                    box.checked = false;
                } else {
                    console.log("id checked: " + id)
                    box.checked = true;
                };
            },
            check_all(){
                // for filters
                console.log("check all")
                var all_box = document.getElementById('check_all')
                var filters = document.getElementsByClassName('filter')
                if (all_box.checked === true){
                    Array.from(filters).forEach(filter => {
                        filter.checked = true
                    })
                }else {
                    Array.from(filters).forEach(filter => {
                        filter.checked = false
                    })
                }
            },
            delete_button(id) {
                del_button = document.getElementById('confirm_'+id)
                if (del_button.style.visibility == 'hidden'){
                    del_button.style.visibility = "visible"
                } else {
                    del_button.style.visibility = "hidden"
                }
            },
            get_doc_by_id(id){
                let doc = this.docs.filter( item => item.id == id)[0]
                console.log(doc.title)
                return marked.parse(doc.content)+"<br>"
            },
            preview(id) {
                var render = document.getElementById("render")
                render.innerHTML = this.get_doc_by_id(id)

                var links = render.getElementsByTagName('a')
                for (var i=0; i<links.length; i++){
                    var link = links[i]
                    links[i].addEventListener('click', event => {
                        event.preventDefault();
                    })
                }
            },
            check_document(id){
                var docu = document.getElementById("check_doc_" + id)
                if (docu.checked == true) {
                    docu.checked = false
                } else {
                    docu.checked = true
                }
            },
            get_checked_documents(){
                var documents = []
                docs.forEach(doc => {
                    if (document.getElementById('check_doc_'+doc.id).checked){
                        documents.push(doc.id)
                    }
                })
                return documents
            },
            copy_to_database(){
                var db_selected = document.getElementById("database_selection").value
                var documents = this.get_checked_documents()
                console.log('copy to database...'+db_selected)
                console.log(documents)


                var headers = new Headers();
                var datas = new FormData();
                datas.append('db_selected', db_selected)
                datas.append('documents', JSON.stringify(documents))
                var requestOptions = {
                method: 'POST',
                headers: headers,
                body: datas,
                redirect: 'follow'
                };
                let copy_to_database_url = "{{ url_for('copy_to_database') }}"
                fetch(copy_to_database_url, requestOptions)
                .then(response => response.text())
                // .then(result => console.log(result))
                .catch(error => console.log('error', error));
            },
        },
        mounted() {
            this.categories.forEach(category => {
                if (category.checked === 1){
                    var box = document.getElementById('cat' + category.id)
                    box.checked = true
                }
            });
        },
    }).mount('#app')


</script>

{% endblock script %}