{% extends '_base.html' %}

{% block content %}
<style>
    .table_row {
        cursor: pointer;
    }
    .table_row:hover {
        background-color: rgb(193, 193, 255);
    }

</style>


<div id="app">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ url_for('new_file') }}"
            class="button is-primary is-small is-light is-outlined m-2">+New document</a>


            <div class="card">
                <header class="card-header" @click="show_hide('filters')">
                    <button class="card-header-title ">
                        Filters +
                    </button>
                </header>
                <div id="filters" style="display:none;">
                    <input type="checkbox" id="all">
                    <label for="all" class="ml-1"><strong> check / uncheck all filters</strong></label>
                    <div v-for="category in categories">
                        <input type="checkbox" :id="'cat'+[[category.id]]" name="[[category.name]]">
                        <label for="'cat'+[[category.id]]" class="ml-1" @click="check_the_box('cat'+[[category.id]])">[[category.name]]</label>
                    </div>
                    <button class="button is-fullwidth">apply filters</button>
                </div>
            </div>
            <hr>
            <div  style="overflow-y:scroll; word-wrap:break-word; height:700px;">
                <table class="table is-narrow">
                    <tr @mouseover="preview(doc.id);" class="table_row"
                    v-for="doc in docs">
                        <td >[[ doc.title ]]</td>
                        <td><label class="button is-small is-warning"
                            @click="checked(doc.id)">Delete</label>
                        <a :href="'delete/' + [[ doc.id ]]" class="button is-danger is-small ml-1"
                         :id="'confirm_'+doc.id" style="visibility: hidden;">confirm</a></td>
                        <td><a href="" class="button is-small">Print</a></td>
                        <td><a :href="'edit/'+[[ doc.id ]]"
                            class="button is-primary is-small is-light is-outlined">Edit</a></td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="column is-7">
            <div id="render" onscroll="syncScroll(this)" class="ml-2 mt-3 pb-4 column"
                style="overflow-y:scroll; word-wrap:break-word; height:700px;">
            </div>
        </div>
    </div>


{% endblock content %}

{% block script %}
<script>

    const docs = {{ docs | safe }}
    let categories = {{ categories | safe }}
    const { createApp } = Vue

    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                docs: docs,
                categories: categories,
                preview_html: "",
            }
        },
        methods:{
            show_hide(id){
                var content = document.getElementById(id);
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            },
            check_the_box(id){
                console.log(id)
                var box = document.getElementById(id);
                if (box.checked === true) {
                    box.checked = false;
                } else {
                    box.checked = true;
                };
            },
            checked(id) {
                if (this.checked) {
                    console.log(id)
                    del_button = document.getElementById('confirm_'+id)
                    if (del_button.style.visibility == 'hidden'){
                        del_button.style.visibility = "visible"
                    } else {
                        del_button.style.visibility = "hidden"
                    }
                    console.log(del_button.style.visibility)
                }
            },
            get_doc_by_id(id){
                let doc = this.docs.filter( item => item.id == id)[0]
                console.log(doc.title)
                return marked.parse(doc.content)+"<br>"
            },
            preview(id) {
                var render = document.getElementById("render")
                render.innerHTML = this.get_doc_by_id(id)

                var links = render.getElementsByTagName('a')
                for (var i=0; i<links.length; i++){
                    var link = links[i]
                    links[i].addEventListener('click', event => {
                        event.preventDefault();
                    })
                }
            },
        },

    }).mount('#app')


</script>

{% endblock script %}